html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding-bottom: 100px;
}

header {
  text-align: center;
  padding: 60px 0;
}

header .title {
  text-decoration: none;
  color: #3f2e2e;
  font-family: BlinkMacSystemFont, "segoe UI", "Roboto Regular";
  font-size: 30px;
}

header .title:hover {
  opacity: 0.8;
}

.contents {
  width: 1000px;
  margin: 0 auto;
}

.contents .content {
  float: left;
  margin: 5px;
}

.contents .content.col-1 {
  width: 990px;
}

.contents .content.col-2 {
  width: 490px;
}

.contents .content p {
  margin: 0;
  padding: 10px;
}

.contents .content .title {
  border-bottom: 1px solid grey;
  background-color: #ddd;
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: BlinkMacSystemFont, "segoe UI", "Roboto Regular";
}

.contents .content .title a {
  font-size: 14px;
  text-decoration: none;
  color: #337ab7;
  padding-left: 5px;
}

.contents .content .title a:visited {
  color: #337ab7;
}

.contents .content .title a:hover {
  color: #23527c;
  text-decoration: underline;
}

.contents .content .data {
  padding: 25px 10px;
  border: 1px solid grey;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: Menlo, "Menlo Regular", Consolas, Liberation Mono, Courier, monospace;
  word-wrap: break-word;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  padding: 15px 0;
  font-size: 11px;
  color: #3f2e2e;
}

footer .copyright {
  text-align: center;
  color: #3f2e2e;
  font-family: BlinkMacSystemFont, "Segoe UI", "Open Sans Regular";
  font-size: 10px;
}

footer .copyright a {
  text-decoration: none;
  color: #3f2e2e;
  font-family: "Open Sans Bold", BlinkMacSystemFont, "Segoe UI";
}

footer .copyright a:hover {
  border-bottom: 1px solid #3f2e2e;
}

.grey {
  color: #666;
}

.clearfix {
  clear: both;
  overflow: auto;
}

@media screen and (max-width: 1000px) {
  body {
    padding-bottom: 70px;
  }
  header {
    padding: 50px 0;
  }
  .contents {
    width: 100%;
  }
  .contents .content.col-1, .contents .content.col-2 {
    width: 95%;
    margin-left: 0;
    margin-right: 0;
    margin: 10px auto;
    float: none;
  }
}
